@(items: List[(Computer, Option[Company])], currentFilter: String)(implicit flash: play.api.mvc.Flash)

@main {
    
    <h1>Computers</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        @helper.form(action=routes.Application.list()) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by computer name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        }
        <a class="btn success" id="add" href="@routes.Application.create()">Add a new computer</a>
    </div>
    @Option(items).filterNot(_.isEmpty).map { computers =>
        <table class="computers zebra-striped">
            <thead>
                <tr>
                  <th>Computer name</th>
                  <th>Introduced</th>
                  <th>Discontinued</th>
                  <th>Company</th>
                </tr>
            </thead>
            <tbody>

                @computers.map { 
                    case (computer, company) => {
                        <tr>
                            <td><a href="@routes.Application.edit(computer.id)">@computer.name</a></td>
                            <td>
                                @computer.introduced.map(_.format("dd MMM yyyy")).getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @computer.discontinued.map(_.format("dd MMM yyyy")).getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @company.map(_.name).getOrElse { <em>-</em> }
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    }.getOrElse {
        <div class="well">
            <em>Nothing to display</em>
        </div>
    }
}

